:root {
    --main-font-family: "Nunito", sans-serif;
    --background-color: linear-gradient(0deg, #4db7f9 0%, #2c6cbc 100%);
    --main-font-color: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    background-attachment: fixed;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

.container {
    display: grid;
    grid-template-rows: 50px 110px 150px;
    min-width: max-content;
    max-width: 60%;
    margin: auto;
    gap: 2rem;
    padding: 2rem;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    gap: 2rem;
}

.header .temperature-scales {
    display: flex;
    gap: 1rem;
}

.header input[type="search"] {
    font-family: inherit;
    color: var(--main-font-color);
    font-size: 1rem;
    width: 400px;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    background-color: #fafafa61;
    font-weight: 600;
}

.header input[type="search"]::placeholder {
    color: var(--main-font-color);
    font-weight: 600;
}

.header button {
    font-family: inherit;
    font-size: 1rem;
    appearance: none;
    border: none;
    border-radius: 0.7rem;
    padding: 0.7rem;
    background-color: #fafafa61;
    color: var(--main-font-color);
    font-weight: 600;
}

.header button:hover {
    background-color: #fafafa84;
}

.header button:hover {
    cursor: pointer;
}

/* CITY INFO, DATE, CLOCK */
section.city-info {
    text-align: center;
}

section.city-info .city-country-names {
    font-weight: 700;
    font-size: 40px;
}

section.city-info .local-time,
section.city-info .last-updated-climate {
    font-size: 20px;
    color: #fafafaa1;
    font-weight: 500;
}

/* TODAY'S CLIMATE */
section.temperatures-info {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa61;
    border-radius: 0.7rem;
    gap: 1rem;
    width: 400px;
    height: 500px;
    padding: 1rem;
}

section.temperatures-info div.current-temperature-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.temperatures-info div.current-temperature-items p.current-temperature {
    font-size: 50px;
    font-weight: 700;
}

section.temperatures-info div.current-temperature-items p.current-climate-text {
    font-size: 20px;
}

/* BOXES INSIDE MAIN BOX */
section.temperatures-info div.climate-info-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

section.temperatures-info div.climate-info-boxes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}