:root {
    --main-font-family: "Nunito", sans-serif;
    --background-color: linear-gradient(0deg, #4db7f9 0%, #2c6cbc 100%);
    --main-font-color: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    background-attachment: fixed;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

.container {
    display: grid;
    grid-template-rows: 50px;
    min-width: max-content;
    max-width: 60%;
    margin: auto;
    gap: 2rem;
    padding: 2rem;
}

/* HEADER */
div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    gap: 2rem;
}

div.header .temperature-scales {
    display: flex;
    gap: 1rem;
}

div.header input[type="search"] {
    font-family: inherit;
    color: var(--main-font-color);
    font-size: 1rem;
    width: 400px;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    background-color: #fafafa61;
    font-weight: 600;
}

div.header input[type="search"]::placeholder {
    color: var(--main-font-color);
    font-weight: 600;
}

div.header button {
    font-family: inherit;
    font-size: 1rem;
    appearance: none;
    border: none;
    border-radius: 0.7rem;
    padding: 0.7rem;
    background-color: #fafafa61;
    color: var(--main-font-color);
    font-weight: 600;
}

div.header button:hover {
    background-color: #fafafa84;
}

div.header button:hover {
    cursor: pointer;
}

/* CITY INFO, DATE, CLOCK */
div.city-info {
    text-align: center;
}

div.city-info .city-country-names {
    font-weight: 700;
    font-size: 40px;
}

div.city-info .local-time,
div.city-info .last-updated-climate {
    font-size: 20px;
    color: #fafafaa1;
    font-weight: 500;
}